* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --body-bg: #191919;
  --main-text-color: #fff;
  --current: #118da8;
  --card-bg: #000;
  --text-color: rgba(255, 255, 255, 0.7);
}

body {
  background-color: var(--body-bg);
  font-family: "DM Sans", sans-serif;
}

/* NAVBAR */

.container {
  width: 1440px;
  padding: 0 15px;
  margin: auto;
}
.navbar {
  height: 119px;
  width: 1330px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar_logo {
  width: 160px;
  height: 33px;
}
.navbar_sections {
  font-weight: 400;
  font-size: 25px;
  line-height: 27px;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
  margin: 0;
  padding: 0;
}
.navbar_section a {
  text-decoration: none;
  color: var(--main-text-color);
}

.current a {
  color: var(--current);
}

/* TITLE */

.title_container {
  height: 913px;
  display: flex;
  justify-content: center;
}

.title_content {
  width: 1400px;
  height: 913;
  margin-left: 20px;
}

.title {
  width: 1300px;
  height: 874px;
  margin-top: 40px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title_left img {
  width: 650px;
  height: 873px;
}

.title_left {
}

.title_right {
  width: 526px;
  height: 176px;
  color: var(--main-text-color);
}

.title_right p {
  font-weight: 400;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: 3.2px;
}

.title_right p span {
  font-weight: 700;
}

.under {
  display: flex;
  flex-direction: column;
}

.title_right .line {
  width: 163px;
  height: 11px;
}

.listen_on {
  width: 289px;
  height: 72px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.listen_logos {
  display: flex;
  gap: 15px;
}

.social_logo {
  list-style-type: none;
  width: 32px;
  height: 32px;
}
