* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --body-bg: #191919;
  --main-text-color: #fff;
  --current: #118da8;
  --card-bg: #000;
  --text-color: rgba(255, 255, 255, 0.7);
}

body {
  background-color: var(--body-bg);
  font-family: "DM Sans", sans-serif;
}

/* NAVBAR */

.container {
  width: 1440px;
  padding: 0 15px;
  margin: auto;
}
.navbar {
  height: 119px;
  width: 1330px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar_logo {
  width: 160px;
  height: 33px;
  padding-left: 50px;
}
.navbar_sections {
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
  margin: 0;
  padding: 0;
}
.navbar_section a {
  text-decoration: none;
  color: var(--main-text-color);
}

.current a {
  color: var(--current);
}

/* TITLE */

.title_container {
  height: 913px;
  display: flex;
  justify-content: center;
}

.title_content {
  width: 1400px;
  height: 913;
}

.title {
  width: 1300px;
  height: 874px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title_left img {
  width: 650px;
  height: 873px;
}

.title_left {
}

.title_right {
  width: 530px;
  height: 610px;
  padding-top: 200px;
  color: var(--main-text-color);
}

.title_right p {
  font-weight: 400;
  font-size: 70px;
  line-height: 88px;
  letter-spacing: 3.2px;
}

.title_right p span {
  font-weight: 700;
}

.under {
  display: flex;
  flex-direction: column;
}

.title_right .line {
  width: 163px;
  height: 11px;
}

.listen_on {
  width: 289px;
  height: 72px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.listen_logos {
  display: flex;
  gap: 15px;
}

.social_logo {
  list-style-type: none;
  width: 32px;
  height: 32px;
}

/* EPISODES */

.episodes_container {
  display: flex;
  justify-content: flex-start;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-direction: column;
  align-items: center;
}

.episodes_navbar {
  width: 1300px;
  height: 99px;
  top: 100px;
  left: 50px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.episodes_navbar p {
  width: 513px;
  height: 80px;
  top: -7.44px;
  font-weight: 400;
  font-size: 64px;
  line-height: 79px;
  letter-spacing: 2.88px;
  color: var(--main-text-color);
}

.episodes_buttons {
  display: flex;
  gap: 1px;
}

.episodes_buttons button {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--main-text-color);
  line-height: 27px;
  font-size: 17px;
  cursor: pointer;
  border: none;
}

.episodes_buttons .left {
  border-radius: 6px 0px 0px 6px;
}

.episodes_buttons .active {
  background-color: var(--current);
}

.episodes_buttons .right {
  border-radius: 0px 6px 6px 0px;
}

.episodes_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.episodes_card {
  width: 1300px;
  border-radius: 32px;
  background-color: var(--card-bg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card_left {
  padding: 45px;
}

.card_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 45px;
}

.card_right p {
  color: var(--current);
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
}

.card_right h1 {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: 2.56px;
  padding-top: 20px;
}

.card_right h2 {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-style: 20px;
  line-height: 33px;
  padding-top: 25px;
}

.details {
  font-weight: 400;
  line-height: 27px;
  width: 208px;
  height: 51px;
  color: var(--main-text-color);
  background-color: var(--current);
  border-radius: 6px;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

.card_type {
  background-color: var(--body-bg);
  border: none;
  border-radius: 6px;
  color: var(--main-text-color);
  font-weight: 400;
  font-style: 18px;
  line-height: 27px;
  margin-bottom: 50px;
  padding: 0 5px 0 5px;
  text-align: center;
}

/* SUBSCRIBE */

.subscribe {
  display: flex;
  justify-content: center;
  padding: 50px 0 100px 0;
}

.subscribe_content {
  background-color: var(--card-bg);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1300px;
  padding: 50px;
}

.right_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.left_content h2 {
  color: var(--current);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.left_content h1 {
  color: var(--main-text-color);
  font-size: 72px;
  font-weight: 400;
  line-height: 79px;
  letter-spacing: 2.88px;
}

.left_content {
  display: flex;
  flex-direction: column;
}

.right_content input {
  border: none;
  width: 522px;
  height: 82px;
  background-color: var(--body-bg);
  border-radius: 8px;
  font-size: 24px;
  padding-left: 10px;
  color: var(--main-text-color);
}

.right_content button {
  width: 87px;
  height: 48px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: var(--current);
  color: var(--main-text-color);
  font-size: 15px;
  font-weight: 700;
  align-self: start;
}

/* REVIEWS */

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.reviews_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.review_card {
  background-color: var(--card-bg);
  border-radius: 12px;
  width: 400px;
}

.review_text {
  font-size: 26px;
  font-weight: 400;
  line-height: 43px;
  color: var(--main-text-color);
  padding-left: 10px;
  padding-top: 30px;
}

.review_name {
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  color: var(--text-color);
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.review_stars {
  padding-top: 20px;
  padding-left: 10px;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 50px 0;
}

.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1300px;
}

.footer_right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer_right ul {
  padding-right: 100px;
  list-style-type: none;
}

.footer_right ul a {
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 17px;
}

.footer_right li {
  line-height: 35px;
}
